body {
    background-color: grey;
    text-align: center;
    margin: 0;
    height: 100%;
}

body > div {
    text-align: center;
    position: relative;
    background-color: white;
    margin: 0 auto;
    width: 1280px;
}

.header {
    width: 100%;
    background: rgba(255, 255, 255, 0.96);
    color: #6b6b6b;
    height: 86px;
    text-align: left;
    position: absolute;
    top: 0px;
}

.header > div {
    font-size: 28px;
    line-height: 86px;
    top: 50%;
    position: relative;
}

.header > .logo {
    left: 140px;
    line-height: 28px;
    color: #06b5a9;
    font-weight: 800;
    margin-top: -14px;
}

.logo span {
    color: #626262;
}

div.header div.menu {
    right: 130px;
    position: absolute;
    margin: 0;
    top: 0;
    vertical-align: middle;
}

div.menu > div {
    float: left;
    height: 86px;
    margin-right: 2px;
    padding: 0 18px 0 18px;
    font-size: 18px;
}

div.menu > div:last-child {
    margin-left: 95px;
}

div.submenu {
    display: none;
    position: absolute;
    background-color: #cf1a2b;
    margin-left: -18px;
}

div.menu > div:hover div.submenu {
    display: table-row;
}

div.menu > div:hover {
    background-color: #cf1a2b;
    color: #f1bfc3;
    border-bottom: solid 1px #d84755;
    height: 85px;
}

div.submenu > div {
    white-space: nowrap;
    display: table-cell;
    min-width: 120px;
    border-left: 1px rgba(160, 160, 160, 0.9) solid;
    line-height: normal;
    vertical-align: top;
}

div.submenu > div:first-child {
    border-left: 0;
}

div.submenu > div:first-child > div:last-child {
    text-align: center;
    position: relative;
    top: 50%;
    margin-top: 50px;
    padding: 0;
}

div.submenu div div {
    padding: 25px 37px 0 37px;
    cursor: pointer;
}
div.submenu div div:last-child {
    padding-bottom: 20px;
}
div.submenu div div:first-child {
    padding-top: 20px;
}

div.zebra {
    width: 100%;
    height: 926px;
    margin: 0 auto;
    background: url("../img/zebra.png") rgba(6, 181, 169, 0.3);
}

div.zebra::after {
    background: rgba(6, 181, 169, 0.3);
    content: "";
    display: block;
    height: 100%;
    width: 100%;
}

.submenu .logo {
    line-height: 34px;
    color: #fec8cd;
    font-weight: 800;
    font-size: 34px;
    padding-top: 20px;
    padding-bottom: 15px;
    border-bottom: 1px rgba(160, 160, 160, 0.9) solid;
}

.submenu .logo span {
    color: #fff;
}